@model EMS_Project.Models.Employee
@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) 
{
<div class="container ">

    <h2 class="text-primary">Add Employee</h2>

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter name" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new {@class ="form-control",placeholder="Enter email"})
        @Html.ValidationMessageFor(m => m.Email, "", new {@class="text-danger"})
    </div>

    <div class="form-group">
        @Html.Label("Department")
        @Html.DropDownList("DeptId",null,"Select Department", new {@class="form-control"})
        @Html.ValidationMessageFor(m => m.DeptId, "", new {@class ="text-danger"})
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel","Index","" ,new { @class="btn btn-default"})

    @Html.ActionLink("View Employees","Index","",new {@class="btn btn-success" })

</div>
}