@using PagedList.Mvc;

@model PagedList.IPagedList<EMS_Project.Models.Employee>

@{
    ViewBag.Title = "Employees List";
}

<h2 class="text-center text-primary">Employees List</h2>

<div>
    <input type="text" id="searchBox" placeholder="Search by name" class="form-control"  />

    <select id="deptFilter" class="form-control" style="margin:1rem 0px">
        <option value="">All Departments</option>
        @foreach(var dept in ViewBag.Departments)
            {
                <option value="@dept.Value">@dept.Text</option>
            }
    </select>

</div>

<div id="employeeTable">
    <table class="table table-bordered table-hover table-striped">

        <tr>
            <th>
                @Html.ActionLink("Name","Index", new
           {
               sortOrder = ViewBag.SortName,
               search = Request.QueryString["search"],
               deptId= Request.QueryString["deptId"]
           })
            </th>
            <th>Email</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@(item.Department.DeptName == null ? "No Department" : item.Department.DeptName )</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmpId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmpId }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Add Salary", "Create","Salary", new {empId = item.EmpId}, new {@class ="btn btn-success"})
                </td>
            </tr>
        }
    </table>
    <div class="text-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new
   {
       page,
       search = Request.QueryString["search"],
       deptId = Request.QueryString["deptId"]
   }))
    </div>
</div>

@section scripts{
<script>
    $(document).ready(function () {

        $("#searchBox, #deptFilter").on("keyup change", function () {

            var search = $("#searchBox").val();
            var deptId = $("#deptFilter").val();

            $.ajax({

                url: "/Employee/Index",
                type: "GET",
                data: { search: search, deptId: deptId },
                success: function (res) {
                    $("#employeeTable").html($(res).find("#employeeTable").html());
                },
                error: function (err) {
                    console.log("ERROR:" + err);
                }
            });

        });

    });
</script>
    }
