@model EMS_Project.Models.User
@{
    ViewBag.Title = "Login";
}

<style>
    .full-height{
        height:80vh;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    
</style>

<div class="container" >
    <div class="full-height">
        <div class="col-md-4" style="border:1px solid #007cea;">
            <h2>Login</h2>
            <hr />
            @using (Html.BeginForm())
            {

                <div class="form-group">
                    <label>Username</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <br />
     
                    <button type="submit" class="btn btn-primary">Login</button>
               

                <p style="color:red">@ViewBag.Error</p>

            }
        </div>
    </div>
</div>