@model IEnumerable<EMS_Project.ViewModels.DeptEmployeeCountVM>

@{
    ViewBag.Title = "Index";
}

<div class="container" style="margin-top:50px">
    <div class="row text-center">

        <div class="col-md-3">
            <div class="panel panel-primary dashboard-box">
                <div class="panel-body">
                    <h3><i class="glyphicon glyphicon-user"></i></h3>
                    <h4>Total Employees</h4>
                    <hr />
                    <h2>@ViewBag.TotalEmployees</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-success dashboard-box">
                <div class="panel-body">
                    <h3><i class="glyphicon glyphicon-home"></i></h3>
                    <h4>Total Departments</h4>
                    <hr />
                    <h2>@ViewBag.TotalDepartments</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-danger dashboard-box">
                <div class="panel-body">
                    <h3><i class="glyphicon glyphicon-usd"></i></h3>
                    <h4>Highest Salary</h4>
                    <hr />
                    <h2>@(ViewBag.HighestSalary == 0 ? "No Data" : ViewBag.HighestSalary )</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-warning dashboard-box">
                <div class="panel-body">
                    <h3><i class="glyphicon glyphicon-stats"></i></h3>
                    <h4>Departments Overview</h4>
                    <hr />
                    <h2> _ </h2>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container" style="margin-top:30px;">
    <h2 class="text-center"><b>Employees Per Department</b></h2>
    <br />

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Department</th>
                <th class="text-center">Employee Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.DeptName</td>
                    <td>@item.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>


